@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Regular.ttf');
	text-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Icons';
	src: url('../fonts/icomoon.ttf');
	text-weight: normal;
	font-style: normal;
}

@page {
	size: A4 portrait;
}

p {
	font-family: 'SourceSansPro';
	font-size: 12pt;
}

li {
	font-family: 'SourceSansPro';
	font-size: 12pt;
}

.lighter {
	font-weight: 100;
}

.smaller {
	font-size: 8pt;
}

.clear-fix {
	clear: both;
}

.page {
	page-break-after: always;
}

.header {
	display: table;
	width: 100%;
	height: 30mm;
}

.header_title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20mm;
}

.header_title p {
	font-size: 30pt;
	font-weight: bold;
	color: white;
}

.header_logo {
	display: table-cell;
	vertical-align: middle;
}

.header_logo img {
	width: 35mm;
}

#section_summary {
	padding-top: 10mm;
	padding-left: 15mm;
	overflow: hidden;
	align-content: center;
}

/*******************************************************************************
 Preview section with images
***/

img.preview {
	max-width: 80mm;
	max-height: 45mm;
}

#section_summary_preview {
	text-align: center;
}

#section_summary_preview td {
	padding: 2.5mm;
}

table#section_summary_preview {
	margin: auto;
}

table#section_summary_preview td.column3 {
	transform: rotate(90deg);
	transform-origin: left top;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: center center;
	padding: 0mm;
}

/*******************************************************************************
 Summary text values
***/

#section_summary_text {
	padding-left: 17mm;
	overflow: hidden;
}

.params_document_name {
	font-size: 16pt;
	padding-bottom: 2mm;
}

.section_summary_key {
	display: inline-block;
}

.section_summary_value {
	display: inline-block;
	font-weight: bold;
}

#section_summary_icons_success, #section_summary_icons_error {
	width: 18mm;
}

.section_hits_hit,
.section_hits_fixup {
	padding-left: 10mm;
	clear: both;
	height: 7mm;
	page-break-inside: avoid;
}

.section_hits_hit p,
.section_hits_fixup p {
	float: left;
	padding-left: 2mm;
	font-size: 12pt;
	max-width: 190mm;
}

.nohits img {
	width: 5mm;
	float: left;
}

.nohits li {
	overflow: unset;
	font-size: 10pt;
	max-width: 190mm;
}

.nohits ul {
	overflow: unset;
	list-style: none;
	float: left;
	padding-left: 5mm;
	font-size: 10pt;
	max-width: 190mm;
}

li {
	font-size: 10pt;
	font-weight: 400;
	max-width: 190mm;
}

ul {
	list-style: none;
	float: left;
	padding-left: 5mm;
	font-size: 10pt;
	max-width: 190mm;
}

.section_with_title {
	padding-top: 10mm;
}

.section_with_title p.title {
	width: 96%; 
	font-size: 18pt;
	font-weight: bold;
	border-bottom: 1.5px solid; 
	line-height: 0.1em;
	margin: 10px 2% 10mm 2%; 
	
} 

.section_with_title p.title span { 
	padding: 0px 10px;
	position: relative;
	left: 10mm;
	background-color: white;
}

.section_more_information_key_value {
	clear: both;
	margin-left: 10mm;
	height: 6mm;
}

.section_more_information_key {
	float: left;
	padding-left: 2mm;
	font-size: 12pt;
}

.section_more_information_value {
	float: left;
	padding-left: 2mm;
	font-weight: bold;
}

.section_color_key_value {
	clear: both;
	padding-left: 11mm;
	height: 6mm;
}

.section_color_key {
	width: 6mm;
	float: left;
}

.section_color_value {
	font-weight: 400;
	float: left;
}

.section_color_grid {
	padding-left: 20mm;
	padding-right: 20mm;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	text-align: center;
	padding-bottom: 10px;
}

.ink_coverage_preview img {
	max-width: 170mm;
	max-height: 250mm;
	padding-top: 20mm;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.separation_preview_single {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-top: 10mm;
	text-align: center;
}

.separation_preview_single img {
	max-height: 100mm;
	max-width: 100%;
}

#section_hits {
	font-family: 'SourceSansPro';
	font-size: 12pt;
}

.colorpatch {
	margin-top: 1.1mm;
	margin-right: 3mm;
	height: 3mm;
	width: 3mm;
	color: cyan;
	border-radius: 50%;
	float: left;
}

div#section_colors, div#section_more_information {
	page-break-inside: avoid;
}

#section_colors_details {
	font-family: 'SourceSansPro';
	font-size: 12pt;
	padding-left: 20mm;
}


.column {
	float: left;
	text-align: left;
  }
  
  .left {
	width: 75%;
  }
  
  .right {
	width: 25%;
  }

  .icon.hit, .icon.fixup, .bullet {
	display: inline-block;
   	font-style: normal;
   	font-weight: normal;
   	line-height: 1;
   	-webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;
	font-family: 'Icons';
	font-size: 10pt;
  }

.bullet {
	width: 5mm;
	float: left;
	font-size: 7pt;
	padding-left: 0.5mm;
	padding-top: 1.5mm;
}

.icon.hit, .icon.fixup {
	width: 6mm;
	float: left;
	padding-left: 0mm;
	padding-top: 1mm;
	font-size: 9pt;
}

